[Unit]
Description=OpenStack API on top of libvirt/kvm
After=network.target libvirt-bin.service

[Service]
User=dwarf
ExecStart=/usr/local/lib/dwarf/bin/dwarf

[Install]
WantedBy=multi-user.target
